.edit-info {
    display: flex;
    flex-direction: column;
    color: rgb(0, 20, 80);
    margin-left: 3%;
}

.form {
    display: flex;
    flex-direction: row;
}

.Whole-editpi {
    box-shadow: 0 0 2em rgb(143, 155, 219);
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    background: whitesmoke;
    border-radius: 25px;

}

.profile-picture {
    border: 2px solid rgb(0, 20, 80);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-content: center;
    background-image: url("../default-profile-pic.jpg");
    background-position: center;


}

.identity {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 10%;
}

.profileBtn {
    background-color: rgb(0, 20, 80);
    color: white;
}