 * {
     color: rgb(0, 20, 80);
 }

 .profile-container {
     min-width: auto;
     padding: 5%;
     margin: 40px;
     margin-left: 10%;
     margin-right: 10%;
     gap: 30%;
     border-radius: 25px;
     box-shadow: 0 0 2em rgb(143, 155, 219);
     background: whitesmoke;

 }

 .info-container {
     display: flex;
     flex-direction: row;
     /* background-color: black; */
 }

 .badge-container {
     display: flex;
     flex-direction: row;
     background-color: black;
     /* margin-left: 3%; */
 }

 .badge-holder {

     background-color: black;
     /* display: flex; */
     /* flex-direction: row; */
     /* width: 50%; */
     /* gap: 4px; */
 }

 .badge-container h3 {
     padding-top: 0px;

     /* word-wrap: break-word; */
 }

 .holder {
     border-style: solid;
     border-color: black;
 }

 .badge {
     border-style: solid;
     /* border-color: black; */
     margin-bottom: 15%;
     width: 100%;
 }

 .label {
     margin-top: 20px;
 }

 .scrollBox {
     border-style: solid;
     /* border-color: black; */
     border-radius: 2px;
     overflow: scroll;
     margin-top: 30px;
     /* margin-bottom: 50px; */
     margin-left: 8%;
 }

 .score-container {
     display: flex;
     flex-direction: row;

 }