* {
    color: rgb(0, 20, 80);
}

body {
    background-color: white;
}

.profile-container {
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    min-width: auto;
    border: 5px solid rgb(0, 20, 80);
    padding-top: 2%;
    gap: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    /* margin-top: 35px; */
}

.info-container {
    background-color: black;
    /* background-color: white; */
    /* display: flex;
    flex-direction: column;
    gap: 40px; */
    min-width: 20%;
}

.badge-container {
    /* background-color: black; */
    /* display: flex;
    flex-direction: row; */
    margin-top: 3%;
}

.badge-holder {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 15px;
}

.h3 {
    margin-top: 0%;
    word-wrap: break-word;
}

/* .holder {
    border-style: solid;
    border-color: black;
} */

.badge {
    background-color: white;
    border-style: solid;
    border-color: black;
    /* margin-bottom: 15%; */
    width: 100%;
}

.label {
    /* margin-top: 80px; */
}

.scrollBox {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    overflow: scroll;
    /* margin-top: 80px; */
    margin-bottom: 50px;
    /* margin-left: 8%; */
}

.score-container {
    background-color: white;
    display: flex;
    flex-direction: row;

}